* {
    font-family: sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    display: block;
    border: 2px solid #7569e2;
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
    color: #7569e2;
    width: 200px;
    text-align: center;
    transition: all .1s;
}
a:hover {
    background-color: #7569e2;
    color: white;
}
h2 {
    font-size: 30px;
    color: #7569e2;
}
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    padding: 16px;
    color: white;
    background-color: #7569e2;
    font-size: 20px;
    text-align: center;
}
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    padding: 16px;
    color: rgb(233, 233, 233);
    background-color: #7569e2;
    font-size: 14px;
    padding-left: 40px;
    text-align: center;
}

table {
    border-collapse: collapse;
    text-align: center;
}
td {
    font-size: 12px;
}
th, td {
    padding: 10px 20px;
}
tr:nth-child(odd) {
    background-color: #EAE8FF;
}
tr:first-child {
    background-color: #7569E2;
    color: white;
}
.search-field {
    background-color: #7569E2;
    color: white;
    font-weight: bold;
    padding: 8px 20px;
    display: inline-block;
    border-radius: 5px;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}
.input-data {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    height: 35px;
}
label {
    width: 200px;
    border: 2px solid #7569e2;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #7569e2;
    border-radius: 5px;
}
input {
    width: 200px;
}
input[type="submit"], input[type="reset"] {
    color: white;
    background-color: #7569e2;
    width: 200px;
    outline: none;
    border: none;
    height: 40px;
    border-radius: 5px;
    transition: all .1s;
}
input[type="submit"]:hover, input[type="reset"]:hover {
    background-color: #5e53c4;
}
input[type="text"], input[type="number"], input[type="date"] {
    outline: #7569e2;
    border: 2px solid #7569e2;
    border-radius: 5px;
    padding: 5px;
    color: #7569e2;
}
.input-search {
    margin-top: 100px;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    height: 35px;
}
.extra {
    text-decoration: underline;
    cursor: pointer;
}
.overlay-card {
    position: fixed;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
}
.title {
    margin-bottom: 10px;
    font-weight: bold;
    color: #7569E2;
    font-size: 20px;
}
.back {
    margin-top: 10px;
    background-color: #7569E2;
    padding: 10px;
    border-radius: 10px;
    color: white;
    width: 150px;
}
.info-data {
    display: flex;
    text-align: center;
}
.key, .value {
    display: flex;
    justify-content: center;
    align-items: center;
}
.key {
    width: 150px;
    background-color: #7569E2;
    padding: 10px;
    color: white;
    border-radius: 10px 0 0 10px;
}
.value {
    border: 1px solid #7569E2;
    width: 150px;
    border-radius: 0 10px 10px 0;
}
.information {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.hide {
    display: none;
}