:root {
    --donut-completed-color-1: #0075FF;
    --donut-remaining-color-1: rgba(0, 70, 207, 0.15);
    
    --donut-completed-color-2: #9C2EF2;
    --donut-remaining-color-2: rgba(156, 46, 242, 0.20);

    --donut-completed-color-3: #29D2FF;
    --donut-remaining-color-3: rgba(41, 210, 255, 0.20);

    --primary-color: #0075FF;
  }

.header-text {
    font-size: 30px;
}

.sub-header-text {
    font-size: 24px;
}

.caption-text {
    font-size: 16px;
}

.mini-text {
    font-size: 14px;
}

.bolder {
    font-weight: 900;
}

.bold {
    font-weight: 700;
}

.primary-color {
    background: #0075FF;
}

.gray-color {
    color: #7F7F7F;
}

.light-color-1 {
    background-color: rgba(0, 70, 207, 0.10);
}

.light-color-2 {
    background: rgba(205, 205, 205, 0.20);
}

.donut-color-1 {
    background-color: #0075FF;
}

.donut-color-2 {
    background-color: #9C2EF2;

}

.donut-color-3 {
    background-color: #29D2FF;
}

.border-color {
    border: 1px solid rgba(0, 0, 0, .2);
}